.title {
  cursor: pointer;
}

.title:hover {
  transition: 0.2s all;
  opacity: 75%;
}

.delete:hover {
  transition: 0.2s all;
  background-color: #E66255 !important;
}

#ticker {
  color: #21ba45;
}

#description {
  color: rgb(31, 118, 218);
}
