/* Home Styles */
.Header {
  display: flex;
  justify-content: space-between;
}

.Logo {
  padding-top: 20px;
  padding-left: 30px;
  color: #eeeeee;
}

.Buttons {
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
}

.Signup {
  padding-right: 20px;
}

.HomeBackground {
  background-color: #232931;
  height: 1000px;
}

.HomeMessage {
  color: white;
  padding-top: 400px;
  text-align: center;
}

/* SignUp Styles */
.signup-container {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 40px;
}

.signup {
  padding-top: 170px;
}

.SignupTitle {
  text-align: center;
  padding-top: 40px;
  font-size: 37px;
  padding-bottom: 40px;
  font-weight: 600;
}

.signup-form {
  display: inline-block;
  text-align: left;
}

.signup-user {
  width: 375px;
}

.signup-email {
  width: 375px;
}

.signup-password {
  width: 375px;
}

.signup-button {
  padding-top: 20px;
  text-align: center;
}

/* Login Styles */
.login-logo {
  color: teal;
  font-size: 70px;
  padding-top: 70px;
  padding-bottom: 200px;
}
.LoginMessage {
  text-align: center;
}

.first-column {
  padding-left: 30px;
}

.login-email {
  width: 300px;
}

.login-password {
  width: 300px;
  padding-bottom: 5px;
}

.login-email {
  width: 400px;
  padding-bottom: 5px;
}

.login-password {
  width: 400px;
}

.LoginTitle {
  color: #eeeeee;
  font-size: 35px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.LoginMessage {
  color: #eeeeee;
  font-size: 100px;
  padding-top: 200px;
}

.LoginMessage2 {
  color: black;
  font-size: 60px;
  padding-top: 200px;
}

.login-column-1 {
  background-color: #232931;
}

.login-column-2 {
  background-color: teal;
}

.login-button {
  padding-top: 10px;
  width: 100px;
}

.no-account {
  display: flex;
  justify-content: left;
  color: #eeeeee;
}

.go-to-sign {
  color: teal;
  padding-left: 4px;
}

/* Dashboard Styles */
.dash-body {
  padding-top: 25px;
  padding-left: 175px;
}

.dash-title {
  color: #eeeeee;
  font-size: 30px;
}

/* Project Styles */
.project-body {
  padding-top: 25px;
  padding-left: 175px;
}

.project-title {
  color: #eeeeee;
  font-size: 30px;
}

.project-buttons {
  padding-top: 30px;
}

/* StockSearch Styles */
.stock-body {
  padding-top: 25px;
  padding-left: 175px;
}

.stock-title {
  color: #eeeeee;
  font-size: 30px;
}

/* Settings Styles */
.settings-body {
  padding-top: 25px;
  padding-left: 175px;
}

.settings-title {
  color: #eeeeee;
  font-size: 30px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
