/* Home Styles */
.Header {
  display: flex;
  justify-content: space-between;
}

.Logo {
  padding-top: 20px;
  color: #eeeeee;
  padding-left: 20px;
}

.home-logo {
  width: 70px;
}

.Buttons {
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
}

.Signup {
  padding-right: 20px;
}

.HomeBackground {
  background-color: #232931;
  height: 1000px;
}

.HomeMessage {
  color: white;
  padding-top: 400px;
  font-size: 50px;
}

/* SignUp Styles */
.signup-container {
  border-radius: 15px;
  padding-bottom: 40px;
}

.signup {
  padding-top: 170px;
}

.SignupTitle {
  text-align: center;
  padding-top: 40px;
  font-size: 37px;
  padding-bottom: 40px;
  font-weight: 600;
}

.signup-form {
  display: inline-block;
  text-align: left;
}

.signup-user {
  width: 375px;
}

.signup-email {
  width: 375px;
}

.signup-password {
  width: 375px;
}

.signup-button {
  padding-top: 20px;
  text-align: center;
}

/* Login Styles */
.login-logo {
  width: 175px;
  height: 250px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.LoginMessage {
  text-align: center;
}

.first-column {
  padding-left: 30px;
}

.login-email {
  width: 300px;
}

.login-password {
  width: 300px;
  padding-bottom: 5px;
}

.login-email {
  width: 400px;
  padding-bottom: 5px;
}

.login-password {
  width: 400px;
}

.LoginTitle {
  color: #eeeeee;
  font-size: 35px;
  padding-top: 150px;
  padding-bottom: 25px;
}

.LoginMessage {
  color: teal;
  font-size: 70px;
  padding-top: 250px;
  font-weight: bold;
}

.LoginMessage2 {
  color: black;
  font-size: 50px;
  padding-top: 200px;
  text-align: center;
}

.login-column-1 {
  background-color: #232931;
}

.login-column-2 {
  background-color: #eeeeee;
}

.login-button {
  padding-top: 10px;
  width: 100px;
}

.no-account {
  display: flex;
  justify-content: left;
  color: black;
}

.go-to-sign {
  color: teal;
  padding-left: 4px;
  cursor: pointer;
}

/* Dashboard Styles */
.nav-sidebar {
  color: #393e46;
}

.nav-logo {
  height: 60px;
  padding-left: 38px;
}

.nav-icon {
  color: teal;
}

.nav-title {
  color: teal;
}

.dash-body {
  padding-top: 25px;
  padding-left: 175px;
}

.dash-title {
  color: black;
  font-size: 35px;
  font-weight: bold;
}

/* Project Styles */
.project-body {
  padding-top: 25px;
  padding-left: 175px;
}

.project-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
  padding-left: 175px;
}

.project-modal {
  padding-top: 25px;
  padding-left: 175px;
}

/* StockSearch Styles */
.stock-body {
  padding-left: 175px;
}

.stock-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
}

.stock-search {
  padding-top: 20px;
}

.stock-pick {
  font-weight: bold;
}
/* Settings Styles */
.setting-body {
  padding-left: 175px;
}

.setting-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.button {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.button-teal {
  color: white;
  background-color: rgb(62, 199, 199);
  background-image: linear-gradient(rgb(62, 199, 199), rgb(33, 232, 247));
  border-radius: 4px;
  border: none;
}

.button-teal:hover {
  background-image: linear-gradient(rgb(135, 211, 224), rgb(76, 198, 219));
  text-shadow: -6px 0px 15px rgba(255, 255, 255, 0.83), 6px 0px 15px rgba(7, 240, 123, 0.83);
}

.button-transparent {
  color: #FFF;
  background-color: Transparent;
  border-radius: 4px;
  border: 2px solid #FFF;
}

.button-transparent:hover {
  color: rgb(62, 199, 199);
  border: 2px solid rgb(62, 199, 199);
}

.button--small {
  width: 100px;
  height: 40px;
}

.button--medium {
  width: 200px;
  height: 40px;
}

.button--large {
  width: 300px;
  height: 40px;
}
