/* Project Styles */
.project-body {
  padding-top: 25px;
  padding-left: 175px;
}

.project-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
  padding-left: 175px;
}

.project-modal {
  padding-top: 25px;
  padding-left: 175px;
}
