/* Home Styles */
#Header {
  display: flex;
  justify-content: space-between;
}

#Logo {
  padding-top: 20px;
  color: #eeeeee;
  padding-left: 20px;
}

#logoimage {
  width: 70px;
}

#buttons {
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
  z-index: 2;
}

#Signup {
  padding-right: 20px;
}

#HomeBackground {
  background-color: #232931;
  height: 900px;
}

#HomeMessage {
  color: white;
  padding-top: 300px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: teal;
}

#HomeMessage2 {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

#home_image {
  height: 350px;
}

#company_about {
  margin-top: 450px;
}

#divider {
  font-size: 35px;
}

@media screen and (max-width: 1350px) {
  #HomeMessage {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  #HomeMessage {
    font-size: 55px;
  }
}
