/* Home Styles */
#Header {
  display: flex;
  justify-content: space-between;
}

#Logo {
  padding-top: 20px;
  color: #eeeeee;
  padding-left: 20px;
}

#logoimage {
  width: 70px;
}

#buttons {
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
  z-index: 2;
}

#Signup {
  padding-right: 20px;
}

#HomeBackground {
  background-color: #232931;
  height: 940px;
}

#HomeMessage {
  color: white;
  padding-top: 300px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: teal;
  padding-left: 80px;
}

#HomeMessage2 {
  color: white;
  font-size: 42px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding-left: 80px;
}

#home_image {
  height: auto;
  width: 1500px;
}

#company_about {
  margin-top: 450px;
}

#divider {
  font-size: 40px;
}

#background {
  background-color: #eeeeee;
}

#giphy {
  width: 670px;
  height: 354px;
}

@media screen and (max-width: 1350px) {
  #HomeMessage {
    font-size: 60px;
  }

  #HomeMessage2 {
    font-size: 30px;
  }

  #HomeBackground {
    background-color: #232931;
    height: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  #HomeMessage {
    font-size: 55px;
  }

  #HomeMessage2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  #HomeBackground {
    background-color: #232931;
    height: 1000px;
  }

  #giphy {
    width: 400px;
    height: 212px;
  }
}
