/* #signup_body {
  background-color: #232931;
  padding-bottom: 130px;
  color: #eeeeee;
} */

/* SignUp Styles */
#container {
  border-radius: 15px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#signup {
  padding-top: 170px;
}

#title {
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  padding-bottom: 60px;
  font-weight: 600;
}

#firstname,
#lastname,
#username,
#address,
#password_label,
#password_confirm,
#checkbox {
  font-size: 15px;
}

#form {
  display: inline-block;
  text-align: left;
}

#user {
  width: 375px;
}

#email {
  width: 375px;
}

#password {
  width: 375px;
}

#confirm {
  width: 375px;
}

#button {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
