/* #signup_body {
  background-color: #232931;
  padding-bottom: 130px;
  color: #eeeeee;
} */

/* SignUp Styles */
#container {
  border-radius: 15px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#signupWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signup {
  padding-top: 170px;
  background: #e0e0e0;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 30%;
  margin: auto;
  z-index: 10;
}

#title {
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  padding-bottom: 60px;
  font-weight: 600;
}

#firstname,
#lastname,
#username,
#address,
#password_label,
#password_confirm,
#checkbox {
  font-size: 15px;
}

#form {
  display: inline-block;
  text-align: left;
}

#user {
  width: 375px;
}

#email {
  width: 375px;
}

#password {
  width: 375px;
}

#confirm {
  width: 375px;
}

#buttonWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

#button {
  margin-top: 20px;
}
