/* SignUp Styles */
.signup-container {
  border-radius: 15px;
  padding-bottom: 40px;
}

.signup {
  padding-top: 170px;
}

.SignupTitle {
  text-align: center;
  padding-top: 40px;
  font-size: 37px;
  padding-bottom: 40px;
  font-weight: 600;
}

.signup-form {
  display: inline-block;
  text-align: left;
}

.signup-user {
  width: 375px;
}

.signup-email {
  width: 375px;
}

.signup-password {
  width: 375px;
}

.signup-button {
  padding-top: 20px;
  text-align: center;
}
