#wrapper{
    margin: 30px auto;
}

#header {
    font-size: 35px;
    font-weight: 400;
}

#activePrice {
    font-size: 20px;
    font-weight: 400;
    margin: 10px auto;
}

#charts {
    margin: 25px 0;
}

#loaderWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

#intervalButtons {
}