#wrapper {
  margin: 30px auto;
  height: fit-content;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    overflow: scroll;
}

#header {
  font-size: 35px;
  font-weight: 400;
}

.activePrice {
  font-size: 20px;
  font-weight: 400;
  margin: 10px auto;
  padding-left: 5px;
}

#charts {
  margin: 25px 0;
}

#loaderWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

#linechart {
  width: 1400px;
  height: 425px;
}

#intervalButtons {
  padding-left: 200px;
}
