/* StockSearch Styles */
.stock-body {
  padding-left: 175px;
}

.stock-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
}

.stock-search {
  padding-top: 20px;
}

.stock-pick {
  font-weight: bold;
}
