@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Settings Styles */
#setting-body {
  padding-left: 175px;
}

#setting-title {
  color: black;
  font-weight: bold;
  font-size: 35px;
}

#table {
  width: 75%;
  padding: 10px;
  border-width: 3px;
  border-color: black;
}

#table_row {
  display: flex;
  justify-content: space-between;
}

#user_icon {
  display: flex;
  padding-left: 2%;
}

#title {
  padding-left: 50%;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

#account_info {
  font-size: 18px;
}

/* #table_buttons {
  display: flex;
  justify-content: space-between;
} */
